<table class="table">
  <tr>
    <th>Case Worker</th>
    <td><a href="/case_worker/view/[% dep.client.case_worker.id %]">[% dep.client.case_worker.name %]</a></td>
  </tr>
  <tr>
    <th>Case#</th>
    <td><a href="/client/view/[% dep.client.id %]">[% dep.client.case_num %] ([% dep.client.first_name %] [% dep.client.last_name %])</a></td>
  </tr>
  <tr>
    <th>First Name</th>
    <td>[% dep.first_name %]</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>[% dep.last_name %]</td>
  </tr>
  <tr>
    <th>DOB</th>
    <td>[% dep.dob %]</td>
  </tr>
  <tr>
    <th>Sex</th>
    <td>[% dep.sex %]</td>
  </tr>
  <tr>
    <th>Race</th>
    <td>[% dep.race %]</td>
  </tr>
  <tr>
    <th>Ethnicity</th>
    <td>[% dep.ethnicity %]</td>
  </tr>
</table>
